.stream-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-dark-color);
  color: var(--primary-white-color);
  overflow: hidden;
  padding: 20px 30px;
  min-width: 300px;
}

.stream-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  background: var(--primary-gradient-green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px var(--green-shadow);
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: var(--primary-dark-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--transparent-black);
  border: 1px solid var(--section-border-color);
}

.local-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.video-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--primary-white-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.control-btn:hover {
  background-color: var(--primary-green);
  color: var(--primary-dark-color);
}

.control-btn.end-stream-btn {
  background-color: rgba(220, 53, 69, 0.8);
}

.control-btn.end-stream-btn:hover {
  background-color: rgb(220, 53, 69);
}

.control-btn.start-stream-btn {
  background-color: rgba(46, 204, 113, 0.8);
}

.control-btn.start-stream-btn:hover {
  background-color: rgb(46, 204, 113);
}

.control-btn.whiteboard-btn {
  background-color: rgba(0, 0, 0, 0.6);
}

.control-btn.whiteboard-btn:hover {
  background-color: rgb(46, 204, 113);
}

.whiteboard-btn {
  padding: 20px 64px;
  background: #1f1f1f;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.whiteboard-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.whiteboard-btn.active {
  background: #2ecc71;
  color: #121212;
}

.whiteboard-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteboard-container .main {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.whiteboard-container .board {
  height: 500px;
}

.whiteboard-modal-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.whiteboard-modal-container .main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.whiteboard-modal-container .board {
  height: 500px;
}

.modal-content {
  max-width: 80%;
  height: auto;
}

.modal-content:has(.whiteboard-modal-container) {
  max-width: 90%;
  height: auto;
}

@media (max-width: 1180px) {
  .dashboard-container {
    flex-direction: column;
    overflow-y: auto;
    height: auto;
  }
  
  .stream-container {
    padding: 15px;
    margin-bottom: 15%;
    height: auto;
    min-height: auto;
    max-height: 80vh;
  }
  
  .video-container {
    height: 400px;
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .stream-container {
    padding: 10px;
  }

  .video-container {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .stream-container {
    padding: 10px;
    align-items: center;
  }
  
  .video-container {
    height: 250px;
    margin-bottom: 10px;
  }

  .video-controls {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 1180px) {
  .whiteboard-container .board {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .whiteboard-container .board {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .whiteboard-container .board {
    height: 250px;
  }
  
  .whiteboard-modal-container {
    height: 400px;
  }
}
